.button-pink {
	background-color: #A1AFD9;
	color: black;
	border-radius: 4px;
	padding: 5px 10px;
	font-family: 'Playfair Display SC', serif;
	font-size: 23px;
}

.button-white {
	background-color: white;
	color: black;
	border-radius: 4px;
	padding: 5px 10px;
	font-family: 'Playfair Display', serif;
}